*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: rgb(0, 183, 255);
    color: #fff;
    padding: 16px;
}

header a{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

header a:hover{
    font-size: 20px;
    text-decoration: underline;
}